.icon-home {
    width: 40px; 
    height: 40px;
    background-image: url('home6.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}

.icon-another {
    width: 40px;
    height: 40px;
    background-image: url('icon1.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-user {
    width: 40px;
    height: 40px;
    background-image: url('user1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%; 
}
